.filter-list {
  display: inline-flex;
  @media screen and (max-width: 767.98px) {
    flex-wrap: wrap;
    width: 350px;
    max-width: 100%;
    row-gap: 15px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: $offset;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
  &__item:not(:last-child) {
    margin-right: 8px;
  }
  &__button {
    padding: 6px 22px;
    display: inline-block;
    cursor: pointer;
    font-family: inherit;
    font-weight: $normal;
    font-size: $small;
    line-height: calc(26 / 16);
    text-align: center;
    color: take-color("dark-black");
    background-color: take-color("light-white");
    border-radius: 4px;
    border: transparent;
    transition: color $duration $bezier, background-color $duration $bezier,
      box-shadow $duration $bezier;
    &--padding {
      padding: 6px 25px;
    }
    &:active,
    &:hover,
    &:focus {
      color: take-color("white");
      background-color: take-color("blue");
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
