.header {
  border-bottom: 1px solid #ececec;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  height: 60px;
  &__container {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
  }
  &__webstudio {
    // margin-right: 93px;
    // padding-top: 24px;
    // padding-bottom: 25px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.mobile-container {
  display: flex;
  margin: 0;
  padding: 0;
  height: 796px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-container {
  position: fixed;
  padding: 48px 40px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  &.is-open {
    transform: translateX(0);
  }
  & .menu-toggle {
    position: absolute;
    top: 10px;
    right: 16px;
    color: #fff;
  }
}
.mobile-menu {
}
.webstudio__web {
  color: take-color("blue");
}
.webstudio__studio--black {
  color: take-color("black");
}

.nav {
  &__list {
    // display: flex;
    // justify-content: space-between;
  }
  &__item {
    // padding-top: 32px;
    // padding-bottom: 32px;
    align-items: center;
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: 32px;
      // margin-right: 50px;
    }
  }
}
.nav__link {
  // position: relative;
  // padding-top: 32px;
  // padding-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  // font-size: 14px;
  // line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: take-color("dark-black");
  transition: color $duration $bezier;
  &:hover,
  &:focus {
    color: take-color("blue");
  }
  &:hover::after,
  &:focus::after {
    transform: translateX(0);
  }
}
.nav__link--active {
  color: take-color("blue");
  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: take-color("blue");
    bottom: 0;
  }
}
.nav__link--line {
  &::after {
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    border-radius: 2px;
    transform: translateX(-100%);
    background-color: take-color("blue");
    bottom: 0;
    transition: transform $duration $bezier;
    min-width: 100%;
  }
}
.list-contacts {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 306px;
  // margin-left: auto;
  // align-items: center;
  &__item {
    &:not(:last-child) {
      margin-top: 32px;
    }
  }
  &__mail {
    // padding-top: 32px;
    // padding-bottom: 32px;
    font-weight: 500;
    // font-size: 14px;
    // line-height: calc(16 / 14);
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
    color: take-color("grey");
    transition: color $duration $bezier;
    &:hover,
    &:focus {
      color: take-color("blue");
    }
  }
  &__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;
    color: take-color("blue");
  }
  &__icon {
    display: none;
    vertical-align: middle;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    fill: currentColor;
  }
}
.header-social {
  display: inline-flex;
  margin-top: 64px;
  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  &__sign {
    display: inline-block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    width: 22px;
    height: 0px;
    vertical-align: middle;
  }
}
