.menu-toggle {
  position: absolute;
  top: 10px;
  right: 16px;
  color: #fff;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  fill: #212121;
  transition: fill $duration $bezier;
  &:hover,
  &:focus {
    fill: take-color("blue");
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  position: absolute;
  overflow: hidden;
  padding: 48px 40px;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  transform: translatey(-100%);
  max-width: 480px;
  height: 100vh;
  background-color: take-color("white");
  z-index: 999;
  transition: transform $duration $bezier;
  &.is-open {
    display: block;
    transform: translateX(0);
  }
}
.mobile-nav {
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    font-weight: $normal;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
    color: #212121;
    transition: color $duration $bezier;
    &--active {
      color: take-color("blue");
    }
    &:hover,
    &:focus {
      color: take-color("blue");
    }
  }
}
.mobile-contacts {
  margin-top: 306px;
  display: block;
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__tel {
    font-weight: $normal;
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;
    color: take-color("blue");
  }
  &__mail {
    font-weight: $normal;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
    color: take-color("grey");
  }
}
.header-social {
  display: flex;
  margin-top: 64px;
  flex-wrap: wrap;
  &__item {
    position: relative;
    margin-right: 20px;
  }
  &__item:not(:last-child)::after {
    content: "";
    position: absolute;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    left: 100%;
    top: 50%;
    width: 22px;
    height: 0px;
    vertical-align: middle;
  }
  &__link {
    font-weight: $normal;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}
