%title {
  font-weight: $bold;
  text-align: center;
  color: take-color("dark-black");
  @media screen and (max-width: 1199.98px) {
    font-size: 28px;
    line-height: calc(33 / 28);
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: $large;
    line-height: calc(42 / 36);
  }
}
